:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* main content */

.title {
    text-align: center;
    font-family: var(--font);
    font-size: 50px;
    margin-top: 30px;
    font-weight: 500;
    color: black;
    opacity: 90%;
}

.title:hover {
    color: grey;
}

.subtitle {
    text-align: center;
    font-family: var(--font);
    font-size: 23px;
    margin-top: -43px;
    color: #ff4ffb;
}

.main {
    font-family: var(--font);
    font-size: 25px;
    color: black;
    opacity: 90%;
    width: 50%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

b {
    font-weight: 600;
}

::selection {
    color: #ffd152;
}   

a {
    text-decoration: none;
    color: #00bfff;
    transition: 0.5s ease;
}

a:hover {
    color: #ff4ffb;
}

/* buttons */

.buttons {
    position: absolute;
    bottom: 3%;
    left: 49%;
    transform: translate(-50%, 0%);
    background-color: white;
    border: none;   
}

img, button {
    transform: scale(0.65);
    opacity: 95%;
}

button {
    background-color: transparent;
    border: none;
    width: 70px;
}

button:hover {
    cursor: pointer;
}

.home-img {
    transform: scale(0.8);
    transition: 0.4s ease;
}

.home-img:hover {
    transform: scale(0.8, 0.7) translateY(5px);
}

@media screen and (min-width: 1100px) {
    .home-animation {
        animation: home 0.75s ease forwards;
    }
}

.left-animation {
    animation: bounce-left 2s;
}

.right-animation {
    animation: bounce-right 2s;
}

@keyframes bounce-left {
    0%   {transform: scale(0.65, 0.65) translateY(0);}
    10%  {transform: scale(0.55, 0.75) translateX(6px);}
    20%  {transform: scale(0.55, 0.85) translateX(6px);}
    30%  {transform: scale(0.75, 0.45) translateX(-15px);}
    50%  {transform: scale(0.65, 0.65) translateX(0);}
    100% {transform: scale(0.65, 0.65) translateX(0);}
}

@keyframes bounce-right {
    0%   {transform: scale(0.65, 0.65) translateY(0);}
    10%  {transform: scale(0.55, 0.75) translateX(-4px);}
    20%  {transform: scale(0.55, 0.85) translateX(-4px);}
    30%  {transform: scale(0.75, 0.45) translateX(15px);}
    50%  {transform: scale(0.65, 0.65) translateX(0);}
    100% {transform: scale(0.65, 0.65) translateX(0);}
}

@keyframes home {
    0%   {transform: scale(0.80, 0.70) translateY(5px);}
    40%  {transform: scale(0.80, 0.82) translateY(-20px);}
    60%  {transform: scale(0.80, 0.80) translateY(0);}
    80%  {transform: scale(0.80, 0.70) translateY(5px);}
    100% {transform: scale(0.80, 0.80) translateY(0);}
}

/* ipad and tablet */

@media screen and (max-width: 1100px) {
    .main {
        width: 70%
    }

    a:hover {
        color: #00bfff;
    }

    .buttons {
        left: 49%;
    }

    .home-img {
        transform: scale(0.8) translateX(2px);
        transition: 0.3s ease;
    }

    .home-img:hover {
        transform: scale(0.8) translateX(2px);
    }
}

/* phone */

@media screen and (max-width: 800px) {
    .main {
        width: 80%;
        font-size: 16px;
    }

    .title {
        font-size: 25px;
    }

    .subtitle {
        font-size: 16px;
        padding-top: 22px;
    }

    img {
        width: 50px;
    }

    img, button {
        transform: scale(0.8);
        opacity: 95%;
    }

    button {
        width: 53px;
    }

    .home-img {
        transform: scale(0.85) translateX(2px);
        transition: 0.3s ease;
    }

    .home-img:hover {
        transform: scale(0.85) translateX(2px);
    }

    @keyframes bounce-left {
        0%   {transform: scale(0.8, 0.8) translateY(0);}
        10%  {transform: scale(0.7, 0.8) translateX(2px);}
        20%  {transform: scale(0.7, 1) translateX(5px);}
        30%  {transform: scale(0.9, 0.6) translateX(-15px);}
        50%  {transform: scale(0.8, 0.8) translateX(0);}
        100% {transform: scale(0.8, 0.8) translateX(0);}
    }
    
    @keyframes bounce-right {
        0%   {transform: scale(0.8, 0.8) translateY(0);}
        10%  {transform: scale(0.7, 0.8) translateX(-2px);}
        20%  {transform: scale(0.7, 1) translateX(-5px);}
        30%  {transform: scale(0.9, 0.6) translateX(15px);}
        50%  {transform: scale(0.8, 0.8) translateX(0);}
        100% {transform: scale(0.8, 0.8) translateX(0);}
    }
}